
<div style="text-align: center;">
<form [formGroup]="searchUserForm">
    <div style="padding-bottom: 5px;">
        <input  id='userName' formControlName="userName"/>
        <span style="padding-left: 5px;"></span>
        <button  mat-button (click)="searchByName()">Name</button>
        <br><span class="error" *ngIf="searchUserForm.controls['userName'].errors?.invalid">Please enter correct name</span>
    </div>
    <div  style="padding-bottom: 5px;">
        <input id=associateId formControlName="associateId"/>
        <span style="padding-left: 5px;"></span>
        <button mat-button (click)="searchByAssociateId()">AssociateID</button>
        <br><span class="error" *ngIf="searchUserForm.controls['associateId'].errors?.invalid">Please enter correct Associate Id</span>
    </div>
    <div  style="padding-bottom: 5px;">
        <select formControlName="skill" class="skillSelect"> 
            <option *ngFor="let skill of skills" [value]="skill.value">
                {{skill.type}}
            </option>
        </select>
        <span style="padding-left: 5px;"></span>
        <button  mat-button (click)="searchBySkill()">Skill</button>
        <br><span class="error" *ngIf="searchUserForm.controls['skill'].errors?.invalid">Please choose a skill</span>
   
    </div>
    <br><span class="error" *ngIf="searchUserForm.errors?.nodata">{{errorMessage}}</span>
</form>
    
</div>
<div>
    <table style="width: 100%;">
        <tr  *ngFor="let data of searchedData" style="border-bottom: 10pt;vertical-align: top;">
            <td style="height: 90%;">
                <div>
                    <mat-card class="grid-layout">
                        <mat-card-content>
                            <div>Name : {{data.userProfile.name}}</div>
                            <div>Id : {{data.userProfile.associateId}}</div>
                            <div>Email : {{data.userProfile.email}}</div>
                            <div>Mobile : {{data.userProfile.mobile}}</div>
                        </mat-card-content>
                    </mat-card> 
                </div>
            </td>
            <td></td>
            <td></td>
           <td style="height: 90%;">
                <div>
                <mat-card class="grid-layout">
                    <mat-card-content>
                        <div>HTML-CSS-JavaScript : {{data.techSkills.htmlJS}}</div>
                        <div>Angular : {{data.techSkills.angular}}</div>
                        <div>React : {{data.techSkills.react}}</div>
                        <div>SpringBoot : {{data.techSkills.spring}}</div>
                        <div>Restful : {{data.techSkills.restful}}</div>
                        <div>Hibernate : {{data.techSkills.hibernate}}</div>
                        <div>GIT : {{data.techSkills.git}}</div>
                        <div>Docker : {{data.techSkills.docker}}</div>
                        <div>Jenkins : {{data.techSkills.jenkins}}</div>
                        <div>AWS : {{data.techSkills.aws}}</div>
                    </mat-card-content>
                </mat-card> 
                </div>
            </td>
            <td></td>
            <td></td>
            <td style="height: 90%;">
                <div>
                <mat-card class="grid-layout">
                    <mat-card-content>
                        <div>Spoken : {{data.softSkills.spoken}}</div>
                        <div>Communication : {{data.softSkills.communication}}</div>
                        <div>Aptitude : {{data.softSkills.aptitude}}</div>
                    </mat-card-content>
                </mat-card> 
            </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>