<div class="center">
<form [formGroup]="loginForm">
    <br><span class="error" *ngIf="loginForm.errors?.incorrectUser">
        Username or password is incorrect.</span>
    <div > 
        <mat-form-field  appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput id='loginName' formControlName="loginName" required />
          </mat-form-field>
          <div *ngIf="loginForm.controls['loginName'].invalid && (loginForm.controls['loginName'].dirty || loginForm.controls['loginName'].touched)" class="error">
            <div *ngIf="loginForm.controls['loginName'].errors?.['required']">
            Please enter username
          </div>
        </div>
    </div>
    <div>
        <mat-form-field   appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="loginPassword" required/>
          </mat-form-field>
          <div *ngIf="loginForm.controls['loginPassword'].invalid && (loginForm.controls['loginPassword'].dirty || loginForm.controls['loginPassword'].touched)" class="error">
            <div *ngIf="loginForm.controls['loginPassword'].errors?.['required']">
            Please enter Password
          </div>
        </div>
    </div>

    <button *ngIf="!loginForm.valid " class="button"  mat-button >Login</button>
    <button *ngIf="loginForm.valid " class="button"  mat-button (click)="login()">Login</button>
</form>

</div>