/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button{
    color: white;;
    background-color:maroon;
    font-size: 12px;
    line-height: 24px;
    min-width: 100px;
    width:100px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.error{
    color: red;
}
